@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #0085ff;
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: #0c083e;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #f4f8fb;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #060817;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #0085ff;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #00ff29;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #fedc32;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #fc0202;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
:root {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
}
